/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
  overflow: hidden;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS begining after CSS reset*/

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}

#rightSideContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.navbar {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr;


    grid-column: 1 / 2;
    height: 100vh;
    background-color: #30364F;
    color: #F0F0DB;
}

.logoContainer {
    display: flex;
    grid-row: 1 / 2;
    align-self: start;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 5px;
}

.logoContainer i {
    font-size: 30px;
}

.navContainer {
    display: grid;
    grid-row: 2 / 3;
}


.settings,
.tabs {
    display: flex;
    gap: 15px;
    flex-direction: column;

    list-style-type: none;
    list-style-position: outside;
    padding-left: 12px;
}

.settings {
    align-self: end;
    margin-bottom: 20px;
}

.tabItem {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.mainContentContainer,
.topContainer {
    grid-column: 2 / 3;
}

.topContainer {
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 8px;
    background-color: white;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-left: 20px;
}

.searchbar input {
    width: 70%;
}

.profileAlert {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    margin-right: 20px;
    justify-self: end;
    align-self: start;
    gap: 30px;
}

.profileAlert i {
    font-size: 35px;
    cursor: pointer;
}

.profileAlert span {
    align-self: center;
    font-weight: 700;
}

.secondTopContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.profile {
    display: flex;
    align-self: center;
    margin-left: 20px;
    gap: 8px;
}

.profilePictureContainer {
    align-self: center;
    font-size: 40px;
}

.nameContainer {
    font-size: 18px;
    font-weight: 700;
}


.post {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    justify-self: end;
    gap: 15px;
}

.post button {
    padding-left: 20px;
    padding-right: 20px;
    height: 68%;
    border-radius: 20px;
    border-style: none;
    
    color: white;
    font-weight: 600;
    background-color: #30364F;
    align-self: center;
    margin-right: 10px;
    cursor: pointer;
}

.mainContentContainer {
    grid-row: 2 / 3;
    padding: 20px 20px 20px 15px;

    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    background-color: #F7F7F7;
    max-height: 100%;
    overflow-y: auto;
    align-content: start;
}

.projects {
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 0;
}

.title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.projectContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    align-self: start;
    gap: 15px;
    margin-right: 20px;
    margin-top: 15px;
}

.card {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    
    border-left: #30364F solid 6px;
    border-radius: 5px;
    background-color: white;
    
}

.card h3,
.card span {
    margin-left: 5px;
}

.iconContainer {
    display: flex;
    justify-content: end;
    gap: 4px;
    margin-right: 5px;
}

.iconContainer i {
    cursor: pointer;
}

.sideViewContainer {
    grid-column: 3 / 4;
    background-color: grey;

    display: grid;
    grid-template-rows: 1fr 10fr;
    
    height: 100%;
    max-height: 100%;
    overflow: auto;
    align-self: start;
}
