/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS begining after CSS reset*/

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.navbar {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr;


    grid-column: 1 / 2;
    height: 100vh;
    background-color: #30364F;
    color: #F0F0DB;
}

.logoContainer {
    display: flex;
    grid-row: 1 / 2;
    align-self: start;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 5px;
}

.navContainer {
    display: grid;
    grid-row: 2 / 3;
}


.settings,
.tabs {
    display: flex;
    gap: 6px;
    flex-direction: column;

    list-style-type: none;
    list-style-position: outside;
    padding-left: 12px;
}

.tabItem {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mainContentContainer,
.topContainer {
    grid-column: 2 / 3;
}

.topContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 8px;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

}

.searchbar input {
    width: 70%;
}

.profileAlert {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    margin-right: 20px;
    justify-self: end;
    align-self: start;
    gap: 30px;
}

.profileAlert i {
    font-size: 30px;
}

.profileAlert span {
    align-self: center;
    font-weight: 600;
}

